* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    font-family: 'Smythe', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 14px;
}

.container {
    background-image: url("/images/bg-img.png");
    background-position: ;
    width: 550px;
    margin: 0 auto;
}