* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    font-family: 'Smythe', cursive;
    font-size: 20px;
    line-height: 14px;
}

.container {
    background-size: cover;
    width: 600px;
    margin: 0 auto;
    box-shadow: 0 1px 10px #bbbbbb;
}

header {
    background-image: url("/images/bg-img.png");
    height: 167px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    padding: 45px;
}

h1 {
    font-size: 40px;
}
h2 {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
}

p {
    color: #bbbbbb;
    font-size: 16px;
}

span {
    font-weight: 400;
    font-size: 28px;
}

.price {
    font-size: 20px;
}

.menuFeed {
    width: 600px;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    border-bottom: 1px solid #D2D2D2;
}

.item-data {
    width: 65%;
}

.item-data p {
    margin: 10px 0 10px 0;
}

.emoji {
    font-size: 78px;
}

.add-item-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-family: 'Inter', sans-serif;;
    font-weight: 200;
    font-size: 30px;
    color: #3C3C3C;
    background-color: white;
    border: 1px solid #DEDEDE;
}

.menuCart {
    display: none;
    padding: 45px;
}

.cart-items {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0;
}

.items-name-col {
    display: flex;
    gap: 10px;
}

#total-items-price {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    padding-top: 14px;
    border-top: 2px solid #393333;
}